<!DOCTYPE html5>
<html>
    <head>
      <title>
        Comment here!
      </title>
        <style>
            @import url(kittest.css);
            @import url(index.css);
            @import url(index.js);
            body {
        background-image: url("https://w.wallha.com/ws/12/JSxfwZpX.png");
        background-repeat: no-repeat;
        background-size: cover;}
       </style>
       <!-- Vue JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<!-- jQuery -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    </head>
    <main>
    <body>
      <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v12.0" nonce="TTu0WpMe"></script>
      <h1>
        Hi Guys👋
      </h1>

      <center>
        <div class="img-container">
          <img
            src="https://images.chesscomfiles.com/uploads/v1/group/252512.dc24b3cd.50x50o.484ed5688c43.gif"
            class="img"
            style="width: 10vw; height: 10vw"
            onclick="window.location.href='https://hifamous11-com.github.io/Testing-repository/'"
          />
        </div>
      </center>


      <p>
      ->Sorry but this page is still under development we will update this soon as possible!😊
      </p>

      <p>
      ->In this page we will create a real time comment section box, So wait with patience!😊
      </p>

      <p>
        ->Now use this facebook method (Everyone can see your messages coz it is a public one) 😊
      </p>

      <div class="fb-comments" data-href="https://hifamous11-com.github.io/My-own-style-html---css/" data-width="550" data-numposts="5"></div>
   
      <section id="app">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="comment">
            <p v-for="items in item" v-text="items"></p>
              </div><!--End Comment-->
              </div><!--End col -->
              </div><!-- End row -->
          <div class="row">
            <div class="col-6">
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
            </div><!-- End col -->
          </div><!--End Row -->
        </div><!--End Container -->
      </section><!-- end App -->

    <p>
      -> The above one is a sample one it not connected world widely :(
    </p>
<p>
      <h2>
        So until we develop the comment section go to these!
      </h2>

  <li>
      <button
      onclick="window.location.href='https://discord.gg/TpBECMJqt5'">
    Chat with me in my discord!
    </button>
  </li>
      <li>
        <button
      onclick="window.location.href='https://hifamous11-com.github.io/Another-html-/'">
    To my Vids section
    </button>
      </li>
</p>      

    <p>
      #
        <button
          onclick="window.location.href='https://hifamous11-com.github.io/Testing-repository/'">
        <--Back to the Official site
        </button> 
    </p>


    </body>
  </main>
  <footer>
<a href="https://hifamous11-com.github.io/Testing-repository/">Home (way no.3 in this website)</a>
  Find the other ways too!
  </footer>
</html>
