<!DOCTYPE html5>
<html>
    <head>
      <title>
        Comment here!
      </title>
        <style>
            @import url(kittest.css);
            @import url(index.css);
            @import url(index.js);
            body {
        background-image: url("https://c.wallhere.com/photos/48/75/Linux_Pop_OS_abstract_digital-2004493.jpg!d");
        background-repeat: no-repeat;
        background-size: cover;}
       </style>
    </head>
    <main>
    <body>
      <h1>
        Hi Guys👋
      </h1>

      <p>
        ->Sorry but this page is still under development we will update this soon as possible!😊
      </p>
      <p>
        ->In this page we will create a real time comment section box, So wait with patience!
      </p>

    <section id="app">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="comment">
            <p v-for="items in item" v-text="items"></p>
              </div><!--End Comment-->
              </div><!--End col -->
              </div><!-- End row -->
          <div class="row">
            <div class="col-6">
          <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
              <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
            </div><!-- End col -->
          </div><!--End Row -->
        </div><!--End Container -->
      </section><!-- end App -->
<p>
      <h2>
        So until we develop the comment section go to these!
      </h2>

  <li>
      <button
      class="light blue"
      onclick="window.location.href='https://discord.gg/TpBECMJqt5'">
    Chat with me in my discord!
    </button>
  </li>
      <li>
        <button
      class="light blue"
      onclick="window.location.href='https://hifamous11-com.github.io/Another-html-/'">
    To my Vids section
    </button>
      </li>
</p>      

    <p>
      #
        <button
          class="light green"
          onclick="window.location.href='https://hifamous11-com.github.io/Testing-repository/'">
        <--Back to the Official site
        </button> 
    </p>


    </body>
  </main>
</html>
